@use '../styles/vars' as vars;

.princ{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  @include vars.viewport-xl{
    width: 22%;
    gap: 2rem;
    padding: 1rem;
  }
  &:hover{
    @include vars.viewport-xl{
      box-shadow: 0px 22px 23px -1px vars.$grey;
      -webkit-box-shadow: 0px 22px 23px -1px vars.$grey;
      -moz-box-shadow: 0px 22px 23px -1px vars.$grey;
    }
  }

  &__ico{
    color: vars.$primary-color;
    width: 60px;
    height: 60px;
    font-size: 4rem;
    background: vars.$primary-transparent;
    @include vars.flex;
    border-radius: vars.$border-radius-md;
  }
}
