@use '../styles/vars' as vars;

.reviews{
  padding-top: 3rem;
  padding-bottom: 5rem;
  margin-top: 3rem;
  background: #{vars.$second-bg} url('../assets/images/noroot\ 2.png') no-repeat left -100px bottom -70px /90%;

  @include vars.viewport-md{
    background-size: 50%;
  }
  @include vars.viewport-lg{
    background-image: url('../assets/images/noroot\ 2.png'), url('../assets/images/noroot\ 3.png');
    background-size: 40%;
    background-position: left -100px bottom -70px, right  -150px bottom -70px;
  }
  @include vars.viewport-xl{
    background-size: 30%;
  }

  &__par{
    margin: 2rem auto;
  }
}






